body {
    background-color: #0D2330;
    text-color: white;
}

.nav-wrapper{
	background-color: #0D2330;
    text-color: white;

}

.fa-circle{
	color: #E7285A;
}

video {
  width: 100%    !important;
  height: auto   !important;
}

nav img{
	height: 60%;
	margin: 1em;
}

#own-video-div{
	width: 20%;
    position: fixed;
    margin: 2em;
    width: 20%;
	border: 3px solid grey;
	border-radius: 20px;
}

#own-video{
	border-radius: 20px;
}
